* {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  color: #999999;
}

.center {
  text-align: center;
}

.words {
  margin-left: 100px;
  width: 40%;
}

.pictures {
  margin-top: 100px;
  margin-left: 100px;

}

#index {
  margin-left: 20%;
}

#index li {
  font-size: 24px;
}

.subhead {
  margin-left: 150px;
  margin-right: 150px;
}

a.refresh {
background: url('../img/cristinabe_logo.png') no-repeat center center;
display: block;
height: 125px;
}

a.refresh:hover {
background: url('../img/cristinabe_logo_hover.png') no-repeat center center;
display: block;
height: 125px;
}

a:hover  {
color: #CC0000;
}

img.thumb {
  max-width: 300px;
}

img.full {
  width: 100%;
}
