h1, h2, h3, h4, p, a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: #999999;
  margin-left: 200px;
}

a.refresh {
background: url('../img/cristinabe_logo.png') no-repeat center center;
display: block;
width: 500px;
height: 125px;
}

a.refresh:hover {
background: url('../img/cristinabe_logo_hover.png') no-repeat center center;
display: block;
width: 500px;
height: 125px;
}

a#to_linkedin {
display: block;
width : 455px;
height : 36px;
}

a#to_linkedin:hover  {
height: 36px;
color: #CC0000;
}

a#email_link  {
display: block;
width : 455px;
height : 36px;
}

a#email_link:hover  {
height: 36px;
color: #CC0000;
}

#images img {
  width: 200px;
  margin: 5px;
}

.slide img {
  width: 100%;
}
